## Confidential
*.env
**/config.json


## Python
*.pyc
*.pyo
*.pyd
__pycache__/

## data
data_output/
**/data_output/
imputed/
**/imputed/
**/plantsMap.py


prmt_api/data
prmt_data/
data_for_prod
norsk_plants/